extends layout 

block content
  h1=title

  form(action="" method='POST' enctype='multipart/form-data')
    div.form-group
      label(for='name') Name of the item: 
      input#name.form-control(type='text' placeholder='Type item name here' name='name' required=true value=(item == undefined ? '' : item.name))
      label(for='description') Description of the item: 
      input#description.form-control(type='text' placeholder='Type item description here' name='description' required=true value=(item == undefined ? '' : item.description))
    div.form-group
      label(for='price') Price of the item:
      input#price.form-control(type='number' placeholder='Type item price' name='price' required=true value=(item == undefined ? '' : item.price))
      label(for='quantity') Price of the item:
      input#quantity.form-control(type='number' placeholder='Type item quantity' name='quantity' required=true value=(item == undefined ? '' : item.quantity))
    .form-group 
      label(for='image') Upload image: 
      input#image.form-control(type='file' name='image' required='true' value=(item == undefined ? '' : item.image))
    div.form-group 
      label(for='category')
      select#category.form-control(type='select' placeholder='Select category' name='category' required=true)
        - categories.sort(function(a,b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for category in categories
          if item
            option(
                value=category._id
                selected=(
                    category._id.toString()==item.category._id
                    || category._id.toString()==item.category
                ) ? 'selected' : false
            ) #{category.name}
          else
            option(value=category._id) #{category.name}
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!=error.msg