extends layout 

block content
  h1 #{title}

  p Name: #{item.name}
  p Description: #{item.description}
  p Price: #{item.price} Galactic Credits 
  p Category:
    a(href=item.category.url) #{item.category.name}
  p Number in stock: #{item.quantity}
  if item.image==undefined
    
  else 
    img.img-thumbnail(src='../../' + item.image)
  p 
    a(href=item.url + '/update') Update item
  p 
    a(href=item.url +'/delete') Delete item